/* General */

* {
  box-sizing: border-box;
}

/* Main Background Color */
body {
  background-color: #d0d0d2;
}



/* Header */

/* Header Background */
body > header {
  background-color: #00605B;
  padding-top: 1px;
  padding-bottom: 3px;
}

/* Name */
h1 {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 48px;
  color: white;
  
  padding-bottom: 0px;
  padding-left: 2px;
  margin-bottom: 0px;
}

/* Pronouns */
h3 {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  
  padding-top: 0px;
  padding-left: 2px;
  margin-top: 0px;
}



/* Horizontal Ruler */
hr {
  height: 2px;
  background-color: #00605B;
  border: white 1px solid;
  margin-top: 80px;
  margin-bottom: 80px;
}



/* Main Body */

/* Portait in Intro */
img {
  width: 400px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 0px;
}

/* Art Credit */
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  font-style: italic;
  
  padding-top: 6px;
  margin-top: 0px;
}

/* Section Titles */
h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  
  margin-top: 10px;
}

/* All Body Text (excluding lists) */
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: justify;
}



/* Lists */

/* Change Bullet Point Style */
ul {
  list-style: circle;
}

/* List Text */
li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: left;
  line-height: 150%;
}

/* Answer List Text Smaller Than Other Lists */
#answer li {
  font-size: 16px;
}



/* Footer */

/* Footer Background */
footer {
  background-color: #00605B;
  padding-top: 2px;
  padding-bottom: 5px;
  margin-top: 80px;
}

/* Copyright */
h5 {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 12px;
  color: white;
}



/* Link Rollover */
a:link {
  color: #007A74;
}

a:visited {
  color: #003432;
}

a:hover {
  color: #00B2A9;
}

a:active {
  color: #005753;
}



/* Classes */

/* Center Align */
.center {
  text-align: center;
}

/* Side Margins for Whole Page */
.main-margins {
  margin: auto;
  width: 550px;
}

/* Section Text Background */
.light-background {
  background-color: #f3f3f3;
  padding: 20px;
  margin-top: 50px;
}
